[Desktop Entry]
Name=RuSStly
Comment=A native podcast client
Exec=russtly
Icon=russtly
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Podcast;
